@page
@model OnlineShoppingCart.Areas.Admin.Pages.Role.Delete
@{
    ViewData["Title"] = "Delete";
}



<section class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">@ViewData["Title"]</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">
                            <a asp-area="Admin" asp-page="/Role/Index">
                                @ViewData["Title"]
                            </a>
                        </li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="card">

                <div class="card-header">
                    <strong class="h3 card-title">@ViewData["Title"]</strong>

                    <partial name="_StatusMessage" model="@Model.StatusMessage" />

                </div>

                <div class="card-body">
                    <div class="col-12 col-md-6">
                        <p>Are you sure to delete this role name <strong>@Model.Input.Name</strong>?</p>
                        <form method="post">
                            <input type="hidden" asp-for="Input.Id" />
                            <input type="hidden" asp-for="IsConfirm" />
                            <button type="submit" class="btn btn-lg btn-danger">Yes, Delete it!</button> |
                            <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>