@model List<OnlineShoppingCart.Models.CartItem>

@using AutoMapper;
@using OnlineShoppingCart.Core.UnitOfWork;
@using ProductDto = OnlineShoppingCart.Models.DTOs.ProductDto;

@inject IUnitOfWork _unitOfWork;
@inject IMapper _mapper;

@{
    ViewData["Title"] = "Cart";

    var products = await _unitOfWork.Products.GetAll("Inventories,Images,Feedbacks");
    //News Products
    var productDtoList = products!.Select(p => _mapper.Map<ProductDto>(p))
    .OrderByDescending(x => x.CreateAt).ToList();
}

<section class="container p-md-5">
    <h1>Shopping Cart</h1>

    @if (Model.Count > 0)
    {
        double total = 0;
        int n = 1;

        <div class="mb-3 table-cart">
            <table class="table table-hover table-inverse table-responsive text-center align-items-center "
                aria-describedby="true" style="vertical-align: middle;">
                <thead class="thead-inverse">
                    <tr>
                        <th style="width: 35px;">#</th>
                        <th>Product</th>
                        <th style="width: 400px;">Product</th>
                        <th>Unit price ($)</th>
                        <th>Quantity</th>
                        <th class="text-end">Amount ($)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        double newPrice = (double)(item.Product!.Price! - item.Product?.Promotion!);
                        double amount = item.Quantity * newPrice;
                        total += amount;
                        <tr>
                            <td>@(n++)</td>
                            <td><img src="~/assets/img/@item.ImageName" alt="@item.ImageName" width="85px" height="auto" /></td>
                            <td>
                                <a asp-controller="Shop" asp-action="ShopSingle" asp-route-id="@item.Product.Slug" class="text-dark text-decoration-none">
                                    @item.Product!.Name
                                    @item.Product.Id
                                </a>
                            </td>
                            <td>

                                <span class="text-success">@newPrice.ToString("N2")</span> <br />
                                <small class="text-danger text-decoration-line-through">@item.Product.Price.ToString("N2")</small>

                            </td>
                            <td>
                                <ul class="list-inline">
                                    <li class="list-inline-item btn-group px-3 quantity-input">
                                        <span class="btn btn-success btn-minus" data-id="@item.Product.Id"
                                            id="btn-minus">-</span>
                                        <input type="hidden" name="product-quantity" id="@($"quantity-{item.Product.Id}")" asp-for="@item.Quantity"
                                            data-max="1000">
                                        <span class="btn bg-secondary text-light" name="var-value">@item.Quantity</span>
                                        <span class="btn btn-success btn-plus" data-id="@item.Product.Id" id="btn-plus">+</span>
                                    </li>
                                </ul>
                            </td>
                            <td class="text-end">@amount.ToString("N2")</td>
                            <td>
                                <div class="btn btn-group">
                                    <button class="btn btn-outline-success updatecartitem"
                                        data-productid="@item.Product.Id">Update</button>
                                    <a asp-route="removecart" asp-route-id="@item.Product.Id" class="btn btn-outline-danger text-sm">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr class="text-end">
                        <td colspan="5" class="text-end h3">Total cart:</td>
                        <td class="text-end h3">
                            @(total.ToString("N2"))
                            </td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="m-3">
            <a asp-controller="ShoppingCart" asp-action="CheckOut" class="btn btn-warning col-md-3 col-12 mb-3 float-end">
                <i class="fa fa-money-bill"></i>
                Check out</a>
            <a asp-controller="Home" asp-action="Shop" class="btn btn-secondary col-md-3 col-12 mb-3">
                <i
                    class="fa fa-fw fa-cart-arrow-down mr-1"></i>
                Go back to Shop</a>
        </div>

    }
    else
    {
        <div class="text-center">
            <p class="alert alert-danger">There are no products in your shopping cart. You can return to
                <a asp-controller="Home" asp-action="Shop">the shop to
                    continue shopping.</a>
            </p>
        </div>
    }
</section>

<!-- 3.Start Article -->
<section class="bg-light py-5">
    <div class="container">
        <div class="row text-left p-3">
            <h4>Related Products</h4>
        </div>

        <!--Start Carousel Wrapper-->
        <div id="carousel_related_product">
            <div class="row">
                @foreach (ProductDto item in productDtoList)
                {
                    var productItemSave = new OnlineShoppingCart.Models.ProductItem(item);
                    <div class="col-md-3 p-3">
                        <partial name="_ProductItem" model="productItemSave" />
                    </div>
                }

            </div>
        </div>


    </div>
</section>
<!-- End Article -->

@section Scripts {
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document).ready(function () {
            $(".updatecartitem").click(function (event) {
                event.preventDefault();
                var productid = $(this).attr("data-productid");
                var quantity = $("#quantity-" + productid).val();
                $.ajax({
                    type: "POST",
                    url: "@Url.RouteUrl("updatecart")",
                    data: {
                        id: productid,
                        quantity: quantity
                    },
                    success: function (result) {
                        window.location.href = "@Url.RouteUrl("cart")";
                    }
                });
            });
        });
    </script>
}
