@using OnlineShoppingCart.Models.DTOs
@model IEnumerable<CategoryDto>

@{
    ViewData["Title"] = "Category List";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">@ViewData["Title"]</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">

            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-content-center">
                        <strong class="h3 card-title">@ViewData["Title"]</strong>
                        <div class="flex-item">
                            <a asp-action="Create" asp-area="CategoryManage" asp-controller="Category" class="btn btn-success">Create New</a>
                        </div>
                    </div>
                </div>

                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Parent)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                await RenderCategory(item, 0);
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>


<div class="modal" tabindex="-1" id="deleteCategory">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card-header bg-danger" id="modalTitle"></div>
            <div class="card-body">
                <p>Ban co chac chan mun xoa ko</p>
                <input type="hidden" id="cateDelete" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary delete">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
@{
    async Task RenderCategory(CategoryDto item, int level)
    {
        string prefix = String.Concat(Enumerable.Repeat("&nbsp;&nbsp;&nbsp;&nbsp;", level));
        <tr id="@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.Raw(prefix)@Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parent!.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn-sm btn-warning"><i class="fas fa-edit" title="edit"></i></a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn-sm btn-info"><i class="nav-icon fas fa-file"></i></a>
                <a class="btn-sm btn-danger deleteModel" name="delete@item.Id" id="@item.Id"><i class="fa fa-trash" aria-hidden="true"></i></a>

            </td>
        </tr>
        if (item.Children?.Count > 0)
        {
            foreach (var cCategory in item.Children)
            {
                await RenderCategory(cCategory, level + 1);
            }
        }
    }
}

@section Css {
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="~/plugins/toastr/toastr.min.css">
}

@section Scripts {
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- Page specific script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": true, "autoWidth": false, "order": false, "lengthMenu": [5, 10, 15, 'All'],
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });
    </script>

    <!-- Toastr -->
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <script>
        $(function () {
            var Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });
        });

        $(document).on('click', '.delete', function () {
            const id = $("#cateDelete").val();
            $.ajax({
                url: "/admin/category/delete",
                type: 'post',
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.code == 200) {
                        toastr.success(data.msg)
                        $("tr#" + id + "").empty();
                        $('#deleteCategory').modal("hide");
                    }
                    if (data.code == 202) {
                        toastr.error(data.msg)

                    }
                    if (data.code == 500) {
                        toastr.error(data.msg)

                    }
                }
            })
        })

        $('.deleteModel').click(function () {
            const id = $(this).attr("id");
            $("#cateDelete").val(id);
            $('#modalTitle').text('Delete Category');
            $('#btnSubmit').show();
            $('#deleteCategory').modal("show");
        })
    </script>

}