@model IEnumerable<OnlineShoppingCart.Models.DTOs.OrderDto>;

@{
    ViewData["Title"] = "Order List";
    double total = 0.00;
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Order List</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Order</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="table_order" class="table table-bordered table-striped" aria-describedby="false">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Order ID</th>
                                <th>Order Total</th>
                                <th>Order status</th>
                                <th>Payment</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Any())
                            {
                                @foreach (var item in @Model)
                                {
                                    total += item.OrderTotal;
                                    <tr>
                                        <td>@String.Format("{0:MM/dd/yyyy}", item.CreateAt)</td>
                                        <td>
                                            <a asp-area="OrderManage" asp-controller="Order" asp-action="Details"
                                                asp-route-id="@item.Id" class="text-info">
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </a>
                                        </td>
                                        <td>@item.OrderTotal.ToString("N2")</td>
                                        <td>@item.OrderStatus</td>
                                        <td>
                                            @item.PaymentStatus
                                            <span class="badge badge-primary">@item.PaymentMethod</span>
                                        </td>
                                        <td>
                                            <a asp-area="OrderManage" asp-controller="Order" asp-action="Edit"
                                                asp-route-id="@item.Id" class="text-warning">
                                                <i class="fas fa-edit" title="edit"></i></a> |
                                            <a asp-area="OrderManage" asp-controller="Order" asp-action="Delete"
                                                asp-route-id="@item.Id" class="text-danger">
                                                <i class="fa fa-trash" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6">No data</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="6">Order total: @total.ToString("N2")</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>

@{
    var dataTable = new OnlineShoppingCart.Models.DataTableView("#table_order");
}

@section Scripts {
    <partial name="_Datatables" model="dataTable" />
}